@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body {
    font-family: nanumgothic !important;
    letter-spacing: -0.04em;
}

body {
    background-color: #08171c;
    /* background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 1s linear;
    
}

ul{
  padding: 0;
  margin: 0;
}

li {
    font-size: 1.5rem;
    font-weight: 600;
    list-style-type: none;
}

li span {
    font-size: 7rem;
    font-weight: 800;
    display: block;
    margin-top: 0em;
    margin-bottom: -0.2em;
}

.allContainer{
    text-align: center;
    color: white;
}

.divider {
    display: inline-block;
    border-bottom: 0.5px solid white;
    height: 0;
}

.until-the-final-season{
    margin-bottom: 0.1em;
    font-weight: 700;
}

.youtube-contatiner{
    margin-top: 10em;
}

.share-this-website{
    margin-top: 5em;
}

.copy-link-clipboard{
    margin-top:1.5em;
    margin-bottom: 0.7em;
}

.twitter-share{
    margin-top: 0.7em;
    margin-bottom: 5em;
}

.visit-official-website{
    margin-top: 4em;
    margin-bottom: 4em;
}

.footer{
    margin: 10em 2em 2em 5em;
    color: white;
}
