body {
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

img{
    -webkit-transition: background-image 2s ease-in-out;
    transition: background-image 2s ease-in-out;
}

ul{
  padding: 0;
  margin: 0;
}

li {
    font-size: 0.6rem;
    font-weight: 600;
    list-style-type: none;
}

li span {
    font-size: 7rem;
    font-weight: 800;
    display: block;
    margin-top: 0em;
    margin-bottom: -0.2em;
}

.allContainer{
    text-align: center;
}