body {
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

/* ###################################### */

img{
    -webkit-transition: background-image 2s ease-in-out;
    transition: background-image 2s ease-in-out;
}

li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 2.5em;
  }

li span {
    display: block;
    font-size: 9rem;
}

.container{
    text-align: center;
}